

body{
  background-color: #A3C4BC;  
  color: #273C2C;
}
.header
{
    text-align:  center;
    font-family: Arial, Helvetica, sans-serif;
}
button 
{
 display: inline-flex;  
 height: 40px;
 width: 80px; 
}
.drop_down
{
display: inline-flex;
}

td 
{
  height: 50px;
  width: 50px;
  background-color: #626868;
}

/* Wraps each group of controls */
.menu-group {
	display: inline-block;
	border-radius: 5px;
	background-color: #BFD7B5;
}

/* Vertically centered, lighter background, label above a menu group */
.menu-group-title {
	display: block;
	text-align: center;
	background-color: #E7EFC5;
	border-radius:  5px;
	margin: 0 0;
	font-size: 0.75em;
}

/* Darker colored body of a menu group that contains the actual controls */
.menu-group div {
	padding: 5px 5px;
}

/* Button styles to undo the default button style */
.size-button, .action {
	height: auto;
	width: auto;
}

/* Used for spans containing row and column numbers */
.readonly {
	font-family: monospace;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}
